# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
cities_data=pd.read_csv("../output_data/cities.csv")
# cities_data.drop("Unnamed: 0")
cities_data.head()

KeyError: "['Unnamed: 0'] not found in axis"

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=gkey)
locations=cities_data[["Lat","Lng"]]
humidity_lvl=cities_data["Humidity"]

In [4]:
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(locations,weights=humidity_lvl,dissipating=False,point_radius=2,
                              max_intensity=humidity_lvl.max())
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
cities_data.head()
top_spots=cities_data.loc[cities_data["Max Temp"] >= 65]
top_spots=cities_data.loc[cities_data["Max Temp"] <= 85]
top_spots=cities_data.loc[cities_data["Wind Speed"] <= 10]
top_spots.reset_index(drop=True, inplace=True)
top_spots

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,talnakh,69.49,88.40,60.80,67.0,34.0,8.95,RU,1596036971
1,4,qaanaaq,77.48,-69.36,42.49,73.0,70.0,2.13,GL,1596036972
2,5,lavrentiya,65.58,-171.00,47.59,90.0,95.0,4.81,RU,1596036972
3,6,khatanga,71.97,102.50,54.37,72.0,6.0,5.64,RU,1596036973
4,9,oksfjord,70.24,22.35,69.80,56.0,100.0,9.17,NO,1596036974
...,...,...,...,...,...,...,...,...,...,...
405,556,mosquera,4.71,-74.23,60.80,63.0,75.0,6.93,CO,1596037160
406,558,caravelas,-17.71,-39.25,79.75,57.0,0.0,7.74,BR,1596037161
407,559,los andes,-32.83,-70.60,63.00,61.0,0.0,2.24,CL,1596037161
408,561,matagami,49.75,-77.63,62.60,93.0,75.0,4.41,CA,1596037161
409,563,tame,6.46,-71.73,84.72,65.0,25.0,5.55,CO,1596037162

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
top_spots.loc[:,"Hotel"]=""
top_spots.head()

C:\Users\Gabe\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
0,0,talnakh,69.49,88.40,60.80,67.0,34.0,8.95,RU,1596036971,
4,4,qaanaaq,77.48,-69.36,42.49,73.0,70.0,2.13,GL,1596036972,
5,5,lavrentiya,65.58,-171.00,47.59,90.0,95.0,4.81,RU,1596036972,
6,6,khatanga,71.97,102.50,54.37,72.0,6.0,5.64,RU,1596036973,
9,9,oksfjord,70.24,22.35,69.80,56.0,100.0,9.17,NO,1596036974,

In [ ]:
params = {
    "key": gkey
    "radius":5000
    "types": "hotel"
}
base_url="https://maps.googleapis.com/maps/api/place/findplacefromtext/json"

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure